[DEFAULT]

user: vuva


sender = nodem3.moongenmultipath.spork-join.filab.uni-hannover.de
receiver = nodem1.moongenmultipath.spork-join.filab.uni-hannover.de
router = nodem2.moongenmultipath.spork-join.filab.uni-hannover.de

[start]
host:%(receiver)s
command:killall -INT traffic-gen; cd ~/mpquic-latency/mpquic-go/src/github/lucas-clemente/quic-go/traffic-gen; go run traffic-gen.go -a 10.1.1.2:2121 -p quic -log ~/logs/traffic-gen/%(SL_I)s-%(SL_SCHED)s-%(SL_EXP_NAME)s-%(SL_RATE_DIST)s-%(SL_RATE)s-%(SL_SIZE_DIST)s-%(SL_SIZE)s- ;

[receiver-pcap]
host:%(receiver)s
command:sudo killall -INT tcpdump; sudo tcpdump dst 10.1.1.2 and src 10.1.2.2 or 10.1.3.2 -i any -w ~/logs/traffic-gen/dump-receiver.pcapng -j adapter;
after: {'start':'Starting server...'}


[sender]
host:%(sender)s
command: killall -INT traffic-gen; cd ~/mpquic-latency/mpquic-go/src/github/lucas-clemente/quic-go/traffic-gen; go run traffic-gen.go -mode client -a 10.1.1.2:2121 -p quic -sched %(SL_SCHED)s -arrdist %(SL_RATE_DIST)s -arrval %(SL_RATE)s  -t %(SL_EXP_TIME)s000 -csizeval %(SL_SIZE)s -csizedist %(SL_SIZE_DIST)s -log ~/logs/traffic-gen/%(SL_I)s-%(SL_SCHED)s-%(SL_EXP_NAME)s-%(SL_RATE_DIST)s-%(SL_RATE)s-%(SL_SIZE_DIST)s-%(SL_SIZE)s- ;
after: {'start':'Starting server...'}

[sender-pcap]
host:%(sender)s
command: sudo killall -INT tcpdump; sudo tcpdump dst 10.1.1.2 and src 10.1.2.2 or 10.1.3.2 -i any -w ~/logs/traffic-gen/dump-sender.pcapng -j adapter;
after: {'start':'Starting server...'}



[cleanupRecv]
host: %(receiver)s
command: sudo killall -INT tcpdump; sudo killall -INT tshark; sudo tshark -r ~/logs/traffic-gen/dump-receiver.pcapng -l -i any -Y 'ip.dst==10.1.1.2 && udp.port==2121'  -T fields -e frame.number -e frame.time_epoch -e ip.src -e ip.dst -e ip.proto -e frame.len -e gquic.payload -d udp.port==2121,gquic | tr -d ':' > ~/logs/traffic-gen/%(SL_I)s-%(SL_SCHED)s-%(SL_EXP_NAME)s-%(SL_RATE_DIST)s-%(SL_RATE)s-%(SL_SIZE_DIST)s-%(SL_SIZE)s-receiver.csv ; sudo killall -INT traffic-gen;
after: {'start':'PeerGoingAway'}


[cleanupSender]
host: %(sender)s
command: sudo killall -INT tcpdump; sudo killall -INT tshark; sudo tshark -r ~/logs/traffic-gen/dump-sender.pcapng -l -i any -Y 'ip.dst==10.1.1.2 && udp.port==2121'  -T fields -e frame.number -e frame.time_epoch -e ip.src -e ip.dst -e ip.proto -e frame.len -e gquic.payload -d udp.port==2121,gquic | tr -d ':' > ~/logs/traffic-gen/%(SL_I)s-%(SL_SCHED)s-%(SL_EXP_NAME)s-%(SL_RATE_DIST)s-%(SL_RATE)s-%(SL_SIZE_DIST)s-%(SL_SIZE)s-sender.csv ;sudo killall -INT traffic-gen;
after: {'start':'PeerGoingAway'}
