[DEFAULT]

user: vuva


client = nodem3.moongenmultipath.spork-join.filab.uni-hannover.de
server = nodem1.moongenmultipath.spork-join.filab.uni-hannover.de
router = nodem2.moongenmultipath.spork-join.filab.uni-hannover.de

[start]
host:%(server)s
command:killall -INT caddy; cd ~/mpquic-latency/mpquic-go/src/dash/caddy; ./caddy -quic -mp -scheduler %(SL_SCHED)s -cc cubic;




[client]
host:%(client)s
command: killall -INT python; cd ~/mpquic-latency/mpquic-go/src/AStream/dist/client; python dash_client.py -m https://10.1.1.2:4242/4k-bbb-2min-0p5s/4k-bbb-2min-0.5s.mpd -p 'basic' -q -mp -s %(SL_SCHED)s; echo "Finish video stream."
after: {'start':'Serving HTTPS on port'}


[clean]
host:%(client)s
command:cd ~/mpquic-latency/mpquic-go/src/AStream/dist/client/ASTREAM_LOGS; mkdir ~/logs/traffic-gen/video-%(SL_I)s-%(SL_SCHED)s-%(SL_EXP_NAME)s; mv *AS* ~/logs/traffic-gen/video-%(SL_I)s-%(SL_SCHED)s-%(SL_EXP_NAME)s;killall -INT caddy;
after: {'client':'Finish video stream.'}



